* {
 font-family: Arial;
 font-size: 12pt;
}
.chat {
 width: 20%;
 height: 60%;
 position: fixed;
  bottom: 120px;
  right: 28px;
 overflow: scroll;
 background-color: white;
 border: 3px solid #575353;
}

.inputchat {
  position: fixed;
  bottom: 23px;
  right: 28px;
}
.actions {
 position: fixed;
 bottom: 0;
 display: block;
 width: 100%;
 position: fixed;
  bottom: 23px;
  right: 28px;
}
.actions input{
 height: 30px;
 display: block;
 width: 20%;
 outline: 0;
 border-top: 0;
 border-left: 0;
 border-right: 0;
 position: fixed;
  bottom: 90px;
  right: 28px;
}
.messages div {
 max-width: 60%;
 display: block;
 margin: 5px;
 padding: 10px;
 border-radius: 7px;
}
.messages .bot {
 text-align: left;
 margin-right: auto;
 background: #DDD;
}
.messages .self {
 text-align: right;
 margin-left: auto;
 background: #001f3f;
 color: white;
}



/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 20%;
  }
  
  /* The popup chat - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }